@media (max-width: 1024px) {

    html,
    body {
        overflow-x: hidden;
    }

    .myhead,
    .container,
    #main-container img {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    #main-container {
        padding-left: 0;
        padding-right: 0;
    }

    .right-sidebar,
    .mobNone {
        display: none !important;
    }
}